#section {
    height: 100%;
    width: 100%;
    color: #fff;
    position: relative;
    z-index: 100;
    padding: 1.5rem;

    .main_grid {
        height: 100%;
        overflow: hidden;
    }

    .close,
    .reply {
        cursor: pointer;
        align-items: flex-end;

        .item__bg {


            &:hover {
                background-color: rgba(255, 255, 255, 0.418);
            }
        }
    }

    .item {

        &.desc_01,
        &.desc_02,
        &.desc_03,
        &.desc_04 {
            flex-direction: column;
        }


        .line_text_clip {
            padding: 0.5rem 0;
            letter-spacing: 0.03rem;
            font-family: sans-serif;

            .line-reg {
                font-family: var(--fontKor1) !important;
                font-size: 0.97rem;
                line-height: 1.6;
            }
        }

    }

    .textWrap-tit {
        position: absolute;
    }


    .textWrap-tit {
        z-index: 300002;
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: -1;

        .title-text {
            white-space: nowrap;
            flex: none;
            overflow: hidden;
            font-size: 8vw;
            line-height: 1.5;

            h1 {
                font-family: var(--subfontEng);
            }
        }
    }

    .textWrap-tit {
        z-index: 10;
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: -1;

        .title-text {
            white-space: nowrap;
            flex: none;
            overflow: hidden;
            font-size: 8vw;
            line-height: 1.5;

            h1 {
                font-family: var(--subfontEng);
            }
        }
    }

    .loadingText {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        line-height: 1;
        margin-bottom: -10vw;
        text-align: center;
    }

}

* {
    font-kerning: none !important;
}


.lt_top {
    margin-bottom: -10vw;
    text-align: center;
}

.split_text_clip {
    z-index: 1;
    height: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    position: relative;
    overflow: hidden;
    letter-spacing: 0.05rem;

    .text-reg {
        font-family: var(--subfontEng);
        font-size: 1.1rem;
        line-height: 1;
        letter-spacing: .08rem;
    }
}

.item {
    padding: 1.5rem;
    align-self: end;
    justify-self: auto;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform-origin: 50% 100%;
    border-radius: 0.5rem;
    justify-content: flex-start;
    display: flex;
    position: relative;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

    .comment_icon {
        cursor: pointer;
        position: absolute;
        right: 1rem;
        top: 1rem;
        padding: 0.2rem;
        z-index: 7;
        transition: color 0.2s;

        &:hover {
            color: #9c9c9c;
        }
    }

    .item__bg {
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        transform-origin: 50% 100%;
        border-radius: 0.5rem;
        justify-content: flex-start;
        align-items: flex-end;
        display: flex;
        position: absolute;
        overflow: hidden;
        backdrop-filter: blur(16px);
        transition: all 1s;
        background-color: rgba(255, 255, 255, .08);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) !important;

        &.hover_effect {
            &:hover {
                background-color: rgba(255, 255, 255, 0.418);
            }
        }
    }

    .photo {
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        transform-origin: 50% 100%;
        border-radius: 0.5rem;
        justify-content: flex-start;
        align-items: flex-end;
        display: flex;
        position: absolute;
        overflow: hidden;
        backdrop-filter: blur(16px);
        transition: all 1s;
        background-color: rgba(255, 255, 255, 0.08);
    }

    .item_desc {
        font-size: 0.95rem;
        line-height: 1.4;
        margin-top: 0.35rem;
        font-family: var(--fontKor);
        overflow: auto;
        height: calc(100% - 20px);

        &::-webkit-scrollbar {
            display: none;
        }

        li {

            span {
                letter-spacing: 0.05rem;
                // font-family: var(--subfontEng);
                font-family: 'Trocchi';
            }
        }
    }
}

.exp {

    .split_text_clip {
        height: 1.28rem;

        .text-reg {
            user-select: none;

            span {
                font-family: var(--fontKor);
            }
        }

    }
}

.commentdesc {
    font-size: 0.95rem;
    line-height: 1.3;
    height: calc(100% - 20px);
    font-family: var(--fontKor);

    .commentList {
        height: calc(100% - 65px);
        overflow: auto;
        margin: 0.2rem 0;

        textarea {
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .list {
            width: 100%;

            .comment_inner {
                background-color: rgb(255 255 255 / 9%);
                border-radius: 10px 10px 10px 0;
                font-size: 0.75rem;
                padding: 0.8rem;
                margin: 0.8rem 0;
                display: inline-block;
            }

            &:nth-child(2n) {
                text-align: right;

                .comment_inner {
                    border-radius: 10px 10px 0 10px;
                }
            }

            .desc {
                font-size: 1rem;
                margin-bottom: 0.2rem;
                overflow: hidden;
            }
        }

        .noComment {
            position: relative;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    h4 {
        font-size: 1.5rem;
        text-align: center;
        line-height: 1;
    }

    .btnStyle {
        cursor: pointer;
        padding: 0.2rem 0.8rem;
        color: var(--white);
        letter-spacing: 0.07rem;
        position: absolute;
        top: 0.71rem;
        border-radius: 5px;
        background-color: transparent;
        transition: color 0.2s;
        font-family: var(--mainfontEng);

        &:hover {
            color: #9c9c9c;
        }
    }

    form {
        fieldset {
            border: none;
            margin: 0;
            padding: 0;
            position: relative;

            textarea {
                background-color: transparent;
                resize: none;
                width: 100%;
                color: var(--white);
                border: 1px solid rgb(179, 179, 179);
                outline: none;
                transition: all 0.5s;
                border-radius: 7px;
                padding: 0.5rem;
                padding-right: 3.2rem;

                &::-webkit-input-placeholder {
                    color: #dddddd;
                }

                &::-webkit-scrollbar {
                    display: none;
                }

                &:active,
                &:focus {
                    border: 1px solid rgb(255, 255, 255);
                }
            }

            button {
                position: absolute;
                right: 0;
            }
        }
    }
}