.about {

    .main_grid {
        display: grid;
        grid-template-areas:
            "grid1 grid2 grid2 grid2 grid2 grid2 . grid7"
            "grid3 grid3 grid3 grid4 grid4 grid4 grid5 grid5"
            "grid3 grid3 grid3 grid4 grid4 grid4 grid5 grid5"
            "grid3 grid3 grid3 grid4 grid4 grid4 grid5 grid5"
            "grid3 grid3 grid3 grid4 grid4 grid4 grid5 grid5"
            "grid3 grid3 grid3 grid4 grid4 grid4 grid5 grid5"
            "grid3 grid3 grid3 grid4 grid4 grid4 grid5 grid5"
        ;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 1.5rem;

        @media(max-width: 1400px) {
            grid-template-areas:
                "grid1 grid2 grid2 grid2 grid2 grid7"
                "grid3 grid3 grid3 grid4 grid4 grid4"
                "grid3 grid3 grid3 grid4 grid4 grid4"
                "grid3 grid3 grid3 grid4 grid4 grid4"
                "grid3 grid3 grid3 grid5 grid5 grid5"
                "grid3 grid3 grid3 grid5 grid5 grid5"
                "grid3 grid3 grid3 grid5 grid5 grid5"
                "grid3 grid3 grid3 grid5 grid5 grid5"
            ;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(7, 1fr);
        }

        @media(max-width: 950px) {
            grid-template-areas:
                "grid1 grid1 grid2 grid2 grid2 grid7 grid7"
                "grid3 grid3 grid3 grid4 grid4 grid4 grid4"
                "grid3 grid3 grid3 grid4 grid4 grid4 grid4"
                "grid3 grid3 grid3 grid4 grid4 grid4 grid4"
                "grid3 grid3 grid3 grid4 grid4 grid4 grid4"
                "grid5 grid5 grid5 grid5 grid5 grid5 grid5"
                "grid5 grid5 grid5 grid5 grid5 grid5 grid5"
                "grid5 grid5 grid5 grid5 grid5 grid5 grid5"
            ;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(8, 1fr);
        }

        @media(max-width: 700px) {
            grid-template-areas:
                "grid1 grid1 grid1 grid7 grid7 grid7"
                "grid3 grid3 grid3 grid4 grid4 grid4"
                "grid3 grid3 grid3 grid4 grid4 grid4"
                "grid3 grid3 grid3 grid4 grid4 grid4"
                "grid5 grid5 grid5 grid5 grid5 grid5"
                "grid5 grid5 grid5 grid5 grid5 grid5"
                "grid5 grid5 grid5 grid5 grid5 grid5"
                "grid5 grid5 grid5 grid5 grid5 grid5"
            ;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(8, 1fr);
        }

        @media(max-width: 450px) {
            grid-template-areas:
                "grid1 grid1 grid7 grid7"
                "grid3 grid3 grid3 grid3"
                "grid3 grid3 grid3 grid3"
                "grid3 grid3 grid3 grid3"
                "grid3 grid3 grid3 grid3"
                "grid4 grid4 grid4 grid4"
                "grid4 grid4 grid4 grid4"
                "grid4 grid4 grid4 grid4"
                "grid6 grid6 grid6 grid6"
                "grid6 grid6 grid6 grid6"
            ;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(9, 1fr);
        }

        >div {
            &:nth-child(1) {
                grid-area: grid1;
                align-items: flex-end;
            }

            &:nth-child(2) {
                grid-area: grid2;
                display: flex;
                align-items: flex-end;

                @media(max-width: 950px) {
                    display: none;
                }

            }

            &:nth-child(3) {
                grid-area: grid3;

                .photo {
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    top: 0%;
                    bottom: 0%;
                    left: 0%;
                    right: 0%;
                    transform-origin: 50% 100%;
                    border-radius: 0.5rem;
                    justify-content: flex-start;
                    align-items: flex-end;
                    display: flex;
                    position: absolute;
                    overflow: hidden;
                    backdrop-filter: blur(16px);
                    transition: all 1s;
                    background-color: rgba(255, 255, 255, 0.08);
                }

                .about_img {
                    background-image: url(../img/profile07.jpg);
                    background-size: cover;
                    background-position: top center;
                    background-repeat: no-repeat;
                    filter: grayscale(0.8);
                    opacity: 0.8;
                }
            }

            &:nth-child(4) {
                grid-area: grid4;
            }

            &:nth-child(5) {
                grid-area: grid5;

                @media(max-width:450px) {
                    display: none;
                }
            }

            &:nth-child(6) {
                grid-area: grid6;
                display: none;

                @media(max-width:450px) {
                    display: block;
                }
            }

            &:nth-child(7) {
                grid-area: grid7;
            }
        }
    }
}