.contact {
    .contLinkWrap {
        justify-content: flex-end;
        padding: 0;

        .contact_links {
            display: flex;
            flex-direction: column;

            .contactLink {
                letter-spacing: -.02rem;
                line-height: 1;
                transition: opacity .3s opacity .3s cubic-bezier(.645, .045, .355, 1);
                position: relative;
                opacity: 1;
                overflow: hidden;
                height: 3.5rem;
                font-size: 3.5rem;
                text-transform: capitalize;
                font-weight: 300;
                text-shadow: 0em 1em 0px #fff;

                .stagger-contactLink {}
            }
        }
    }

    .main_grid {
        display: grid;
        grid-template-areas:
            "grid1 grid2 grid2 . grid3"
            ". . . . ."
            ". . . . ."
            ". . . . ."
            ". . . . ."
            "grid4 grid4 grid4 grid4 grid4"
        ;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 4fr 1fr;
        grid-gap: 1.5rem;

        @media(max-with: 1100px) {
            grid-template-areas:
                "grid1 grid2 grid2 . grid3"
                ". . . . ."
                ". . . . ."
                ". . . . ."
                ". . . . ."
                "grid4 grid4 grid4 grid4 grid4"
            ;
        }

        >div {
            &:nth-child(1) {
                grid-area: grid1;
                align-items: flex-end;
            }

            &:nth-child(2) {
                grid-area: grid2;
                display: flex;
                align-items: flex-end;

                .item__bg {
                    background-color: transparent;
                }
            }

            &:nth-child(3) {
                grid-area: grid3;
            }

            &:nth-child(4) {
                grid-area: grid4;
            }
        }

    }

}