#projectSection {
    height: 100%;
    width: 100%;
    color: #fff;
    position: relative;
    z-index: 100;
    padding: 1.5rem;

    .close {
        display: flex;
        align-items: flex-end;
        padding: 1.5rem;

        .item__bg {
            &:hover {
                background-color: rgba(255, 255, 255, 0.418);
            }
        }

        .split_text_clip {
            height: 1rem;

            .text-reg {
                display: flex;

                >svg {
                    width: 30px;
                    height: 40px;
                    position: absolute;
                    top: -5px;
                }

                span {
                    line-height: 1;
                }
            }
        }

    }

    .item {



        &.desc_01,
        &.desc_02 {
            flex-direction: column;
        }

        &.close {
            cursor: pointer;
        }


        .line_text_clip {
            padding: 0.5rem 0;
            letter-spacing: 0.03rem;

            .line-reg {
                font-family: var(--fontKor1);
                font-size: 0.97rem;
                line-height: 1.6;
            }
        }

        .item__bg {
            width: 100%;
            height: 100%;
            z-index: -1;
            top: 0%;
            bottom: 0%;
            left: 0%;
            right: 0%;
            transform-origin: 50% 100%;
            padding: 1.5rem;
            display: flex;
            position: absolute;
            overflow: hidden;
            backdrop-filter: blur(16px);
            transition: all 1s;
            background-color: rgba(255, 255, 255, .08);
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }

    .projectWrap {
        position: absolute;
    }

    .project_grid {
        display: grid;
        grid-template-areas:
            "grid1 grid2 grid2 grid2 . grid8"
            "grid3 grid3 grid3 grid3 grid4 grid4"
            "grid3 grid3 grid3 grid3 grid5 grid5"
            "grid3 grid3 grid3 grid3 grid6 grid7"
        ;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 4fr 2fr 2fr;
        grid-gap: 1.5rem;

        @media(max-with: 1100px) {
            grid-template-areas:
                "grid1 grid2 grid2 grid2 . grid8"
                "grid3 grid3 grid3 grid3 grid4 grid4"
                "grid3 grid3 grid3 grid3 grid5 grid5"
                "grid3 grid3 grid3 grid3 grid6 grid7"
            ;
        }

        >div {
            &:nth-child(1) {
                grid-area: grid1;
                align-items: flex-end;
            }

            &:nth-child(2) {
                grid-area: grid2;
                display: flex;
                align-items: flex-end;


                .item__bg {
                    background-color: transparent;
                }
            }

            &:nth-child(3) {
                grid-area: grid3;

                .item__bg {
                    background-color: transparent;
                }
            }

            &:nth-child(4) {
                grid-area: grid4;

            }

            &:nth-child(5) {
                grid-area: grid5;

            }

            &:nth-child(6) {
                grid-area: grid6;
            }

            &:nth-child(7) {
                grid-area: grid7;
            }

            &:nth-child(8) {
                grid-area: grid8;
            }


        }

        @media (max-width:1000px) {}

    }

    .projectWrap {
        z-index: 300002;
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: -1;
        font-family: var(--subfontEng);

        .project {
            white-space: nowrap;
            flex: none;
            overflow: hidden;
            font-size: 8vw;
            line-height: 1.5;
        }
    }

    .loadingText {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        line-height: 1;
        margin-bottom: -10vw;
        text-align: center;
    }

}