* {
    font-kerning: none !important;
}

.page-tit {
    font-family: "Abel";
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.blackBg {
    background-color: #000;
    color: #fff;
}

.item>a {
    display: block;
    height: 100%;
    width: 100%;
}

.text-reg {
    font-size: 1rem;

}

.split_text_clip {
    z-index: 300001;
    height: 1.25rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    position: relative;
    overflow: hidden;
    letter-spacing: 0.05rem;
}


.loadingText {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    line-height: 1;
}

.lt_top {
    margin-bottom: -10vw;
    text-align: center;
}